{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div class="page-typo-type">
    {{/*  <label class="typo-dys-label" aria-label="typo sans-serif" for="typo-dys"></label>  */}}
  </div>
  {{ .Content }}
  <div class="line"></div>
  <div>
    <blockquote class="reddit-embed-bq" data-embed-showusername="false" data-embed-height="502">Posts from the <a href="https://www.reddit.com/r/braintools/">braintools</a><br> community on Reddit</blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>
    </div>
{{ end }}


